In [1]:
import pandas as pd

file_name = 'datasets/German_credit/German_credit.csv'
df = pd.read_csv(file_name, sep = ',')

In [2]:
column_name = df.columns

for i in column_name:
    empty = df[i].isna().sum()
    print(f'{i} 컬럼의 결측값 갯수는 {empty} 개 입니다.')

Age 컬럼의 결측값 갯수는 0 개 입니다.
Sex 컬럼의 결측값 갯수는 0 개 입니다.
Job 컬럼의 결측값 갯수는 0 개 입니다.
Housing 컬럼의 결측값 갯수는 0 개 입니다.
Saving accounts 컬럼의 결측값 갯수는 183 개 입니다.
Checking account 컬럼의 결측값 갯수는 394 개 입니다.
Credit amount 컬럼의 결측값 갯수는 0 개 입니다.
Duration 컬럼의 결측값 갯수는 0 개 입니다.
Purpose 컬럼의 결측값 갯수는 0 개 입니다.

In [3]:
import numpy as np

df_ex = pd.DataFrame({'time' : [1,2,5,6,7],'value' : [0,2,5,6,8]})

df_ex.iloc[1,1] = np.nan
print(df_ex)

   time  value
0     1    0.0
1     2    NaN
2     5    5.0
3     6    6.0
4     7    8.0

In [4]:
df_ex  = df_ex.set_index('time')

df_ex = df_ex.interpolate(method = 'index', order = 1, limit_direction='both',limit = 2)
print(df_ex)

      value
time
1      0.00
2      1.25
5      5.00
6      6.00
7      8.00

In [5]:
df_ex = df_ex.reset_index()

In [6]:
target = 2.5

df_new = pd.concat([df_ex, pd.DataFrame({'time': [target]})])

print(df_new)

df_new = df_new.set_index('time')
df_new = df_new.interpolate(method = 'index')
df_new = df_new.reset_index()

target_value = df_new.loc[df_new['time'] ==2.5,'value'].iloc[0]
print(target_value)

   time  value
0   1.0   0.00
1   2.0   1.25
2   5.0   5.00
3   6.0   6.00
4   7.0   8.00
0   2.5    NaN
1.875

In [7]:
print(f'2.5초일때 value는 {target_value}')

2.5초일때 value는 1.875